.body{
  height: 700px;
}
.modal-produto{
    width: 100vw;
    height: 100vh;
    top:0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2000;
}
  
.modal-produto.mostrar{
      display: flex;
}
  
  
.modelo{
    width: 80%;
    max-width: 900px;
    min-width: 200px;
    overflow:auto; 
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    font-size:1rem;
}
  
.productorImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 0 0;
  margin: 0 20px 0 0;
}
.modelo .modal-img{
  width:300px;
  height:300px;
}

.productorImg .fontes{
  position: relative;
  bottom: -50px;
  align-self: flex-start;
  font-size: 12px;
  font-weight: bold;
}

.description-produto{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#title{
  margin: 20px 0 50px 0;
  font-size: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title::after{
  content: ' ';
    display: block;
    width: 80%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
.modelo ul{
  margin-bottom: 25px;
}
.modelo li{
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 15px;
  font-weight: 00;
  margin: 8px 0;
}

.Layer_1{
  font-weight: 800;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

#precoProducto{
  margin: 40px 0 0 50px;
  font-size: 17px;
  align-items: flex-start;
}

#preco{
  position: relative;
  right: -110px;
  font-weight: bold;
}

#button{
  margin-top: 10%;
  text-align: center;
}

#button #Comprar{
  width: 50%;
  height: 35px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #6B8067;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
  
  